@mixin border_box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin button_control{
	border: 0;
	background: #f7f7f7;
	color: #555;
	padding: 3px 10px;
	border-radius: 2px;
	cursor: pointer;
	border: 1px solid #ccc;
	font-size: 12px;
	-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);

	&:hover{
		background: #fafafa;
		border-color: #999;
		color: #222;
	}

	&:active{
		background: #eee;
		border-color: #999;
		color: #333;
		-webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
		box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
	}	
}

@mixin button_action{
	border: 0;
	background: #2ea2cc;
	border: 1px solid #0074a2;
	color: white;
	padding: 8px 25px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);	

	&:hover{
		background: #1e8cbe;
		border-color: #0074a2;
	}

	&:active{
		background: #1b7aa6;
		border-color: #005684;
		-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
		box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
	}		
}

.edit-content-block{
	position: relative;

	.toggle-edit-block{
		position: absolute;
		top: 10px;
		right: 10px;
		@include button_control;
	}
}

// Block Selector
#block-selector{
	position: fixed;
	top: 10%;
	right: 5%;
	bottom: 10%;
	left: 5%;
	padding: 20px;
	background: #fff;
	z-index: 150;
	display: none;
	overflow: auto;

	.edit-block-form{
		display: none;

		label{
			display: block;
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: 1px;

			&[for="edit-image-image"]{
				margin-bottom: 5px;
			}
		}

		input[type="text"]{
			display: block;
			width: 100%;
			border: 1px solid #dfdfdf;
			font-size: 14px;
			padding: 5px 15px;
			@include border_box;
		}

		textarea{
			display: block;
			width: 100%;
			height: 100px;
			border: 1px solid #dfdfdf;
			font-size: 14px;
			padding: 15px;
			@include border_box;
			resize: none;
		}

		#select-product-list{
			margin: 0;
			padding: 0;

			li{
				list-style: none;
				border: 1px solid #efefef;
				margin-bottom: 10px;
				padding: 10px 10px 10px 120px;;
				position: relative;
				min-height: 100px;

				input[type="radio"]{
					position: absolute;
					top: 10px;
					left: 10px;
				}

				.image-wrap{
					display: block;
					background: #efefef;
					width: 100px;
					height: 100px;
					position: absolute;
					top: 10px;
					left: 10px;

					img{
						width: 100%;
					}
				}

				.product-name,
				.product-price,
				.product-action{
					display: block;
					margin-bottom: 5px;
				}

				.product-name{
					font-weight: bold;

					a{
						font-size: 16px;
						color: #444;
					}
				}

				.select-this-product{
					@include button_control;
				}
			}
		}

		#edit-image-preview{
			width: auto;
			max-height: 200px;
			padding: 5px;
			border: 1px solid #dfdfdf;
			margin-bottom: 10px;
		}

		#edit-image-image{
			display: none;
		}

		#edit-image-change-image{
			@include button_control;
		}

		#loading-more-products{
			text-align: center;
			padding: 25px 0;
			color: #afafaf;
			display: none;

			img{
				width: 16px;
				height: 16px;
				vertical-align: middle;
				margin-right: 5px;
			}

			.label{
				vertical-align: middle;
			}
		}

		#load-more-products{
			@include button_action;
			display: block;
			margin: 40px auto;
		}

		input[type="submit"]{
			@include button_action;
		}
	}
}

// Selector Title
#selector-title{
	margin: 0 0 10px;
}

#close-selector{
	position: absolute;
	top: 20px;
	right: 20px;
	@include button_control;
}

// Loading Indicator
#loading-indicator{
	position: fixed;
	bottom: 5%;
	left: 10%;
	right: 10%;
	background: rgba( 0, 0, 0, 0.8 );
	padding: 15px;
	border-radius: 5px;
	color: white;
	text-align: center;
	box-shadow: 0 1px 10px #777;
	font-size: 15px;
	display: none;
}

// Modal Background
#modal-background{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .5;
	content: '';
	z-index: 100;
	display: none;
}

// WordPress Media Uploader Modification
body{
	.media-sidebar{
		label.setting{
			display: none;
		}
	}
}