#newsletter-metabox{
	label{
		display: block;
		margin: 0 0 10px;
		font-weight: bold;
	}
}

#newsletter-preview{
	display: block;
	width: 100%;
	height: 550px;
	content: '';
	background: #fff;
	border: 1px solid #efefef;

	span{
		display: block;
		text-align: center;
		padding: 20px;
	}
}

#newsletter-markup{
	display: block;
	margin-top: 10px;
	border: 1px solid #dfdfdf;
	background: #fafafa;
	padding: 10px;
	height: 200px;
	overflow: auto;
	resize: none;
	width: 100%;
}